{% extends 'core/base.html' %}
{% load rest_framework %}


{% block content %}
    {% if errors %}
        <div class="row justify-content-center mt-3" id="error-div">
            <div class="col-auto alert alert-danger rounded ">

                {% for key,value in errors.items %}
                    {% if key != 'old_password' and key != 'new_password' %}
                        {% for error in value %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {% if forloop.counter0 == 0 %}
                            <p>Error</p>
                        {% endif %}
                    {% endif %}

                {% endfor %}

            </div>

        </div>
    {% endif %}



    <div class="row justify-content-center mb-5 mt-4">
        <div class="col-4">

            {% if serializer %}
                <form action="{% url 'change_password' %}" method="post" class="form form-group">
                    {% csrf_token %}
                    {% render_form serializer %}
                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            {% endif %}

        </div>

    </div>
{% endblock %}