{% extends 'core/base.html' %}
{% load rest_framework %}

{% block content %}
    <form id='reset-form' method="post" action="{% url 'password_reset_confirm' uidb64 token %}">
        {% csrf_token %}
        <h1>Set New Password</h1>
        {% render_form serializer %}
        <button type="submit" class="btn btn-success">Submit</button>
        <input type="hidden" id="uidb64" name="uidb64">
        <input type="hidden" id="token" name="token">
    </form>


    <script>
    $('#reset-form').submit(function(e) {
        e.preventDefault();
        fetch("http://127.0.0.1:8000/api/v1/customer/reset/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "new_password1": this.state.new_password1,
                "new_password2": this.state.new_password2,
                "uid": this.props.match.params.uid,
                "token": this.props.match.params.token,
            })
        })
            .then(response => {
                console.log(response)
            })
            .catch(error => {
                console.log(error)
            })
    })


    </script>
{% endblock %}