{% extends 'core/base.html' %}
{% load rest_framework %}

{% block content %}
    {% if errors %}
        <div class="row justify-content-center mt-3" id="error-div">
            <div class="col-auto alert alert-danger rounded ">

                {% for key,value in errors.items %}
                    {% if key != 'password' and key != 'username' %}
                        {% for error in value %}

                            <p>{{ error }}</p>

                        {% endfor %}
                    {% else %}
                        {% if forloop.counter0 == 0 %}
                            <p>Error</p>
                        {% endif %}
                    {% endif %}

                {% endfor %}

            </div>

        </div>
    {% endif %}


    <div class="row justify-content-center mb-5 mt-4">
        <div class="col-4">

            {% if serializer %}

                <form action="{% url 'login_customer' %}" method="post" class="form form-group">
                    {% csrf_token %}
                    {% render_form serializer %}
                     <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-success" value="Login">
                    </div>
                    <div class="row justify-content-center mt-4">
                        <a href="{% url 'password_reset' %}">Forget Password?</a>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <a href="{% url 'register_customer' %}">Don't have account? Sign in first</a>
                    </div>

                </form>
            {% endif %}


        </div>

    </div>



{% endblock %}