{% load static %}
<link rel="stylesheet" href="{% static 'css/side_nav_category.css' %}">
<style>
    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

    /* rotate caret on hover */
    .dropdown-menu > li > a:hover:after {
        text-decoration: underline;
        transform: rotate(-90deg);
    }

</style>

<nav class="navbar navbar-dark fixed-top bg-dark" id="">

    <div class="collapse navbar-collapse bg-dark right" style="display:none" id="mySidebar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                           </div>
        </nav>




        <div class="row justify-content-end">
            <button class="btn btn-danger" onclick="$('#mySidebar').css('display', 'none')">Close</button>
        </div>


    </div>
</nav>