{% extends 'core/base.html' %}
{% load static %}

{% block content %}


    {% if product %}
        <section class="mb-5">

            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox">

                        <div class="row product-gallery mx-1">

                            <div class="col-12 mb-0">
                                <figure class="view overlay rounded z-depth-1 main-img">

                                    <img src="{{ product.image.url }}"
                                         class="img-fluid z-depth-1">

                                </figure>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">

                    <h5>{{ product.name }}</h5>


                    {% if product.discount %}

                        <h6 class="mb-3">
                            <small class="text-grey">Real Price :<s
                                    style="font-size: 15px">${{ product.real_price }}</s></small><br>
                            <span class="text-danger mr-1"
                                  style="font-size: 20px"><b>${{ product.discount_price }}</b></span>

                        </h6>

                    {% else %}
                        <p class="text-dark"><b>
                            Price :
                            ${{ product.real_price }}
                        </b></p><br>
                    {% endif %}
                    <p class="pt-1">{{ product.content }}</p>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                                <td>{{ product.category.name }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="table-responsive mb-2">
                        <table class="table table-sm table-borderless">
                            <tbody>
                            <tr>
                                <td class="pl-0 pb-0 w-25">Inventory : {{ product.inventory }}</td>
                                <td class="pb-0"></td>
                            </tr>
                            <tr>
                                <td class="pl-0">


                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if product.inventory > 0 %}
                        <form action="{% url 'order:add_to_cart_home_page' %}" method="get">
                            <input name="product" type="text" style="display: none" value="{{ product.id }}">
                            <button type="submit" class="btn btn-info btn-sm mr-1 mb-2">
                                <i class="fa fa-shopping-cart pr-2"></i>Add to cart
                            </button>
                        </form>

                    {% else %}
                        <button type="button" class="btn btn-secondary btn-sm mr-1 mb-2">
                            Finished
                        </button>

                    {% endif %}
                </div>
            </div>

        </section>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/add_to_cart.js' %}"></script>
{% endblock %}