

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-lg-8">


            <div class="row wow fadeIn" data-wow-delay="0.4s">
                <div class="col-lg-12">

                    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            {% for product in last_products %}


                                <div class="carousel-item{% if forloop.first %} active{% endif %}">

                                    <img src="{{ product.image.url }}"
                                         {% if image.name %}alt="{{ image.name }}"{% endif %} style="width: 100%">


                                    <div class="carousel-caption text-center text-dark">
                                        {% if product.name %}<h4>{{ product.name }}</h4>{% endif %}
                                        {% if product.real_price %}<p>{{ product.real_price }}</p>{% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>