{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    {% if order_history %}
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"> Name of product</th>
                        <th scope="col" class="text-center"> Quantity</th>
                        <th scope="col" class="text-center"> Price</th>
                        <th scope="col" class="text-center"> Image</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in order_history.orders.all %}
                        <tr id="order{{ order.id }}">
                            <td class="text-center">{{ order.product.name }}</td>
                            <th scope="col" class="text-center"
                                id="quantity{{ order.product.id }}"> {{ order.quantity }}</th>
                            <td class="text-center" id="price{{ order.product.id }}">{{ order.product_price }} $</td>
                            <td class="text-center"><img src="{{ settings.BASE_DIR }}/media/{{ order.product.image }}"
                                                         alt="{{ product.name }}" style="width: 50px;height: 50px"></td>
                            <td class="text-center">
                                <div class="row justify-content-center">

                                    <div class="col-auto">
                                        <form action="{% url 'order:delete_order' order.id %}" method="get">

                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>
                                            </button>
                                        </form>


                                    </div>


                                </div>


                            </td>

                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>


            <div id="discount">
                {% include 'order/set_discount.html' %}
            </div>

        {% if address %}


            <div class="row justify-content-center mt-4">
                <div class="col-6">

                    <div class="form-group">
                        <label for="select-address">Address</label>
                        <select id="select-address" class="form-control" name="address" required>
                            {% for addr in address %}

                                {% if forloop.counter == 1 %}
                                    <option value="">select address</option>
                                {% endif %}
                                <option value="{{ addr.id }}">{{ addr.country }} -- {{ addr.city }}
                                    -- {{ addr.location }}</option>

                            {% endfor %}
                        </select></div>

                </div>

            </div>
        {% endif %}

        <div class="row justify-content-center mt-3">
            <div class="col-auto">
        <span class="btn alert-info" id="final_price">
            Final Price:
            {{ order_history.total_price }} $
        </span></div>


            <div class="col-auto">

                <form action="{% url 'order:final_pay' order_history.id %}" method="post">
                    {% csrf_token %}
                    <input id="address_id" type="text" style="display: none" name="address">
                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-success mb-5" value="Final Pay">
                    </div>

                </form>

            </div>

        </div>





    {% endif %}

{% endblock %}
{% block js %}
    <script src="{% static 'js/delete_order.js' %}"></script>
    <script src="{% static 'js/apply_discount.js' %}"></script>

    <script>
        $('#select-address').change(function () {
            var address_id = $(this).children("option:selected").val();
            $('#address_id').val(address_id);
        })
    </script>
{% endblock %}